$social-color: #4c596d;
$social-size: 2.5rem;

.container {
  display: flex;
  align-items: center;
  background-color: black;
  padding: 1.5rem 3rem;
  background-color: #fff;
  justify-content: space-between;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.08);

  .container__social svg {
    color: $social-color;
    width: $social-size;
    height: $social-size;
    padding: 0 0.5rem;
  }

  .container__social {
    flex-direction: row;
  }
}
